<h1>Show Task</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @task["title"] %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @task["description"] %>
  </li>

  <li>
    <strong>Assigned person:</strong>
    <%= @task["assigned_person"] %>
  </li>

</ul>


<span><%= link "Back", to: Routes.live_path(FrontendWeb.Endpoint, FrontendWeb.TaskLive) %></span>